
button {
  background-color: $color-primary;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .05s
}

button:hover {
  background-color: $color-primary-dark;
  transition: background-color .05s
}

button:active {
  background-color: $color-primary;
  transition: background-color .05s
}