$color-primary: #0076d6;
$color-primary-light: #1576d4;
$color-primary-dark: #025fab;
$color-grey: #3f5a70;
$color-grey-light: #425a70;
$color-grey-border: #e4e7eb;
$color-grey-border-light: #f5f5fc;
$color-background: #f5f5fb;
$color-white: #fff;
$color-delete: #ff9a8c;
$color-edit: green;